@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $solid, $color, $border-box) {
  border: $length $solid $color;
  box-sizing: $border-box;
}

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}
.allCustomers-Container {
  @include height_width(100%, 100%);
  .sub-Container {
    @include height_width(100%, 100%);
    @include flex(flex, center, center);
    padding: 5%;

    .table {
      @include height_width(fit-content, 100%);
      //   @include flex(flex, none, none);
      .header {
        // @include flex(flex, center, center);
        @include border(0.5px, solid, lightgray, border-box);
        padding: 2px;
        @include height_width(20px, 30px);
      }
      .maptr {
        // @include flex(flex, center, center);
        @include border(0.5px, solid, lightgray, border-box);
        padding: 2px;
        height: 20%;
        .data {
          @include border(0.5px, solid, lightgray, border-box);
        }
      }
    }
  }
}
