@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $solid, $color, $border-box) {
  border: $length $solid $color;
  box-sizing: $border-box;
}

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}
.ByPackageCustomers {
  @include height_width(100%, 100%);
  .sub-Container {
    @include height_width(100%, 100%);
    @include flex(flex, flex-start, flex-start);
    .data-Loop {
      @include flex(flex, flex-start, flex-start);
      flex-wrap: wrap;
      flex-direction: row;
      .detail {
        @include height_width(20%, 25%);
        @include border(0.5px, solid, lightgray, border-box);
        border-radius: 10px;
        margin: 2%;
        padding: 1%;
        .image {
          @include height_width(20%, 100%);
        }
        .user-id {
          @include flex(flex, flex-start, center);
          margin: 1%;
          font-weight: 550;
        }
        .email {
          @include flex(flex, flex-start, center);
          margin: 1%;
          font-weight: 550;
        }
        .destination {
          @include flex(flex, flex-start, center);
          margin: 1%;
          font-weight: 550;
        }
        .buy-date {
          @include flex(flex, flex-start, center);
          margin: 1%;
          font-weight: 550;
        }
      }
      .detail:hover {
        box-shadow: 0 1px 2px 0 rgb(60, 64, 67 / 30%),
          0 1px 3px 1px rgb(60, 64, 67 / 15%);
      }
    }
    .empty-Message {
      @include height_width(100%, 100%);
      @include flex(flex, center, center);
    }
  }
}
