@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $solid, $color, $border-box) {
  border: $length $solid $color;
  box-sizing: $border-box;
}

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}
.packageDetail-Container {
  @include height_width(100%, 100%);
  .sub-Container {
    @include height_width(100%, 100%);
    @include flex(flex, none, none);
    .package-Images {
      @include height_width(100%, 60%);
      //   @include border(0.5px, solid, lightgray, border-box);
      .main-Image {
        @include height_width(70%, 100%);
        .image1 {
          @include height_width(100%, 100%);
          padding: 2% 9%;
          .image11 {
            @include height_width(100%, 100%);
          }
        }
      }
      .sub-Images {
        @include height_width(30%, 100%);
        // @include border(0.5px, solid, lightgray, border-box);
        @include flex(flex, none, none);
        .image2 {
          @include height_width(100%, 33.33%);
          //   @include border(0.5px, solid, lightgray, border-box);
          padding: 2%;
          .image22 {
            @include height_width(100%, 100%);
          }
        }
        .image3 {
          @include height_width(100%, 33.33%);
          //   @include border(0.5px, solid, lightgray, border-box);
          padding: 2%;
          .image33 {
            @include height_width(100%, 100%);
          }
        }
        .image4 {
          @include height_width(100%, 33.33%);
          //   @include border(0.5px, solid, lightgray, border-box);
          padding: 2%;
          .image44 {
            @include height_width(100%, 100%);
          }
        }
      }
    }
    .package-Details {
      @include height_width(100%, 40%);
      border-left: 0.5px solid lightgray;
      .package_Destination {
        @include height_width(20%, 100%);
        // @include border(0.5px, solid, lightgray, border-box);
        @include flex(flex, flex-start, center);
        // padding: 5%;
        .Text {
          @include height_width(100%, 25%);
          @include flex(flex, center, center);
          font-family: Helvetica;
          font-size: 17px;
          font-weight: 550;
        }
        .Output {
          padding: 5%;
          font-size: 30px;
          font-weight: 600;
          font-family: Helvetica;
          @include height_width(100%, 75%);
          @include flex(flex, flex-start, center);
        }
      }

      .package_Discription {
        @include height_width(40%, 100%);
        // @include border(0.5px, solid, lightgray, border-box);
        @include flex(flex, flex-start, center);

        .Text {
          //   padding: 3%;
          @include height_width(100%, 25%);
          @include flex(flex, center, center);
          font-family: Helvetica;
          font-size: 17px;
          font-weight: 550;
        }
        .Output {
          @include flex(flex, flex-start, center);
          font-size: 20px;
          padding: 5%;
          font-weight: 600;
          font-family: Helvetica;
          @include height_width(100%, 75%);
        }
      }

      .package_Price {
        @include height_width(20%, 100%);
        // @include border(0.5px, solid, lightgray, border-box);
        @include flex(flex, flex-start, center);
        .Text {
          padding: 5%;
          @include flex(flex, flex-start, center);
          @include height_width(100%, 30%);
          font-size: 17px;
          font-weight: 550;
          font-family: Helvetica;
        }
        .Output {
          font-size: 25px;
          font-weight: 600;
          font-family: Helvetica;
        }
      }
      .Buy-Button {
        @include height_width(20%, 100%);
        @include flex(flex, flex-start, center);
        padding: 5%;
        // @include border(0.5px, solid, lightgray, border-box);
      }
    }
  }
}
