@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $solid, $color, $border-box) {
  border: $length $solid $color;
  box-sizing: $border-box;
}

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.header-Container {
  @include height_width(100%, 100%);
  @include flex(flex, center, center);
  .sub-Container {
    @include height_width(98%, 100%);
    @include flex(flex, none, center);
    @include border(0.2px, solid, #c3c4c7, border-box);
    .menu-Icon {
      @include height_width(100%, 5%);
      //   @include border(0.2px, solid, #c3c4c7, border-box);
      @include flex(flex, center, center);
    }
    .Header-Text {
      @include height_width(100%, 20%);
      @include flex(flex, flex-start, center);
      font-size: 20px;
      font-weight: 600;
    }

    .Header-Text-DashBoard {
      @include flex(flex, center, center);
      @include height_width(100%, 55%);
      font-size: 20px;
      font-weight: 600;
    }

    .Log-out-Button {
      @include flex(flex, flex-end, center);
      @include height_width(100%, 20%);
      padding-right: 5%;
    }
  }
}

.font-family {
  font-family: Arial, Helvetica, sans-serif;
}
