@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $solid, $color, $border-box) {
  border: $length $solid $color;
  box-sizing: $border-box;
}

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.body-Container {
  @include height_width(100%, 100%);

  .sub-Container {
    @include height_width(100%, 100%);

    .package-Button-On {
      @include height_width(100%, 100%);
      @include flex(flex, center, center);
      padding: 2%;
      background-color: lightgray;
    }

    .customer-Button-On {
      @include height_width(100%, 100%);
    }

    .feedback-Button-On {
      @include height_width(100%, 100%);
    }

    .add-Customer-Detail {
      @include height_width(100%, 100%);
    }

    .default {
      @include height_width(100%, 100%);
      @include flex(flex, center, center);
    }
  }
}

.font-family {
  font-family: Arial, Helvetica, sans-serif;
}
