.loginMainContainer {
	 background-color: #fff;
	 border: 1px solid #dadce0;
	 align-items: center;
	 height: 100%;
	 width: 100%;
	 border-radius: 8px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .loginMainContainer .loginContainer {
	 padding: 30px;
	 flex-direction: column;
	 box-sizing: border-box;
	 flex-direction: column;
	 width: 33%;
	 height: 90%;
	 border-radius: 5px;
	 border: 1px solid #c3c4c7;
	 box-sizing: border-box;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .loginMainContainer .loginContainer .loginfundoofont {
	 align-items: center;
	 font-size: 22px;
	 margin-bottom: 5px;
	 font-weight: 500;
}
 .loginMainContainer .loginContainer .logintitle {
	 padding-top: 5px 5px 5px 5px;
	 font-size: 20px;
	 font-weight: 600;
}
 .loginMainContainer .loginContainer .loginSubTitle {
	 padding-top: 5px;
	 font-size: 18px;
	 font-weight: 500;
	 opacity: 0.6;
}
 .loginMainContainer .loginContainer .Input-Field {
	 width: 100%;
	 height: 50%;
}
 .loginMainContainer .loginContainer .Input-Field .textField1 {
	 height: 50%;
	 width: 100%;
}
 .loginMainContainer .loginContainer .Input-Field .textField1 .InputField {
	 height: 60%;
	 width: 100%;
}
 .loginMainContainer .loginContainer .Input-Field .textField1 .MuiFormHelperText-contained {
	 margin-left: 3px;
}
 .loginMainContainer .loginContainer .Input-Field .textField1 .error {
	 padding-left: 1%;
	 height: 21%;
	 width: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .loginMainContainer .loginContainer .Input-Field .textField1 .error .errorMessage {
	 height: 100%;
	 width: 100%;
	 font-size: 12px;
}
 .loginMainContainer .loginContainer .Input-Field .textField2 {
	 height: 50%;
	 width: 100%;
}
 .loginMainContainer .loginContainer .Input-Field .textField2 .InputField {
	 height: 79%;
	 width: 100%;
}
 .loginMainContainer .loginContainer .Input-Field .textField2 .MuiFormHelperText-contained {
	 margin-left: 3px;
}
 .loginMainContainer .loginContainer .Input-Field .textField2 .error {
	 padding-left: 1%;
	 height: 21%;
	 width: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .loginMainContainer .loginContainer .Input-Field .textField2 .error .errorMessage {
	 height: 100%;
	 width: 100%;
	 font-size: 12px;
}
 .loginMainContainer .buttonContainer-forget {
	 display: flex;
	 flex-direction: row;
	 padding-top: 20px;
	 width: 100%;
	 height: 15%;
}
 .loginMainContainer .buttonContainer-forget .Lbutton2 {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 50%;
	 height: 100%;
	 font-size: 12px;
}
 .loginMainContainer .buttonContainer-forget .Lbutton2 .forget-btn {
	 width: 70%;
	 font-size: 10px;
}
 .loginMainContainer .buttonContainer-forget .Lbutton3 {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 50%;
}
 .loginMainContainer .buttonContainer-forget .Lbutton3 .login-btn {
	 width: 70%;
	 font-size: 10px;
}
 .loginMainContainer .p {
	 border: 1px solid #c3c4c7;
	 box-sizing: border-box;
	 margin-bottom: 5px;
}
 .error {
	 color: red;
}
 .errorMessage {
	 font-size: 12px;
}
 .FT {
	 font-family: Helvetica;
}
 