@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $solid, $color, $border-box) {
  border: $length $solid $color;
  box-sizing: $border-box;
}

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.body-Container {
  @include height_width(100%, 100%);

  .sub-Container {
    @include height_width(100%, 100%);

    .package-Button-On {
      @include height_width(100%, 100%);
      @include flex(flex, center, center);
      // padding: 2%;

      .display-Packages-Menu {
        @include height_width(50%, 50%);
        @include border(0.5px, solid, lightgray, border-box);
        border-radius: 10px;
        margin: 2%;

        .show-All-Packages {
          @include height_width(100%, 100%);
          @include flex(flex, center, center);
          font-size: large;
          border-radius: 10px;
        }

        .show-All-Packages:hover {
          box-shadow: 0 1px 2px 0 rgb(60, 64, 67 / 30%),
            0 1px 3px 1px rgb(60, 64, 67 / 15%);
        }
      }
    }

    .customer-Button-On {
      @include height_width(100%, 100%);
    }

    .feedback-Button-On {
      @include height_width(100%, 100%);
    }

    .package-Detail-Button {
      @include height_width(100%, 100%);
    }

    .show-All-Customer {
      @include height_width(100%, 100%);
    }

    .default {
      @include height_width(100%, 100%);
      @include flex(flex, center, center);
    }
  }
}

.font-family {
  font-family: Arial, Helvetica, sans-serif;
}
