@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $solid, $color, $border-box) {
  border: $length $solid $color;
  box-sizing: $border-box;
}

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}
.AddNewPackage-Container {
  @include height_width(100%, 100%);
  .sub-Container {
    @include height_width(100%, 100%);
    @include flex(flex, center, center);
    .image-Contain {
      @include height_width(100%, 65%);
      @include border(0.5px, solid, lightgray, border-box);
      .image1 {
        @include height_width(70%, 100%);
        @include border(0.5px, solid, lightgray, border-box);
        @include flex(flex, center, center);
        flex-direction: column;
        .display {
          @include height_width(fit-content, fit-content);
          @include flex(flex, center, center);
          @include height_width(80%, 100%);
          .img1 {
            @include height_width(95%, 60%);
          }
        }

        .imageInput1 {
          // @include height_width(20%, 100%);
          height: 20%;
          @include flex(flex, center, center);
        }
      }
      .sub-images {
        @include flex(flex, none, none);
        @include height_width(30%, 100%);
        .image2 {
          @include height_width(100%, 33.34%);
          @include flex(flex, center, center);
          @include border(0.5px, solid, lightgray, border-box);
          flex-direction: column;
          .display {
            @include height_width(fit-content, fit-content);
            @include flex(flex, center, center);
            .img1 {
              @include height_width(80%, 70%);
              @include flex(flex, center, center);
            }
          }
          .imageInput2 {
            // @include height_width(20%, 100%);
            height: 20%;
            width: 50%;
            @include flex(flex, center, center);
          }
        }
        .image3 {
          @include height_width(100%, 33.33%);
          @include flex(flex, center, center);
          @include border(0.5px, solid, lightgray, border-box);
          flex-direction: column;
          .display {
            @include height_width(fit-content, fit-content);
            @include flex(flex, center, center);
            .img1 {
              @include height_width(80%, 70%);
            }
          }
          .imageInput3 {
            // @include height_width(20%, 100%);
            height: 20%;
            width: 50%;
            @include flex(flex, center, center);
          }
        }
        .image4 {
          @include height_width(100%, 33.33%);
          @include flex(flex, center, center);
          @include border(0.5px, solid, lightgray, border-box);
          flex-direction: column;
          .display {
            @include height_width(fit-content, fit-content);
            @include flex(flex, center, center);
            .img1 {
              @include height_width(80%, 70%);
            }
          }
          .imageInput4 {
            // @include height_width(20%, 100%);
            height: 20%;
            width: 50%;
            @include flex(flex, center, center);
          }
        }
      }
    }
    .package-detail {
      @include height_width(100%, 35%);
      @include border(0.5px, solid, lightgray, border-box);
      .header {
        @include height_width(10%, 100%);
        @include flex(flex, center, center);
      }
      .package-Name {
        @include height_width(20%, 100%);
        // @include border(0.5px, solid, lightgray, border-box);
        @include flex(flex, none, none);
        .Text {
          @include height_width(100%, 30%);
          @include flex(flex, center, center);
        }
        .Input {
          @include height_width(100%, 70%);
          @include flex(flex, center, center);
        }
        .MuiTextField-root {
          width: 80%;
        }
      }
      .package-description {
        @include height_width(40%, 100%);
        // @include border(0.5px, solid, lightgray, border-box);
        @include flex(flex, none, none);
        .Text {
          @include height_width(100%, 30%);
          @include flex(flex, center, center);
        }
        .Input {
          @include height_width(100%, 70%);
          @include flex(flex, center, center);
        }
        .MuiTextField-root {
          width: 80%;
        }
      }
      .package-price {
        @include height_width(10%, 100%);
        // @include border(0.5px, solid, lightgray, border-box);
        @include flex(flex, none, none);
        .Text {
          @include height_width(100%, 25%);
          @include flex(flex, center, center);
        }
        .Input {
          @include height_width(100%, 75%);
          @include flex(flex, center, center);
        }
        .MuiTextField-root {
          width: 80%;
        }
      }
      .add-Button {
        @include height_width(20%, 100%);
        @include flex(flex, center, center);
        // @include border(0.5px, solid, lightgray, border-box);
      }
    }
  }
}
