.forgetMainContainer {
  background-color: #fff;
  border: 1px solid #dadce0;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 755px) {
    height: 100%;
    width: 100%;
  }
  .loginContainer {
    padding: 30px;
    flex-direction: column;
    box-sizing: border-box;
    flex-direction: column;
    width: 33%;
    height: 90%;
    border-radius: 5px;
    border: 1px solid #c3c4c7;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 755px) {
      height: 95%;
      width: 95%;
    }

    .loginfundoofont {
      align-items: center;
      font-size: 22px;
      margin-bottom: 5px;
      font-weight: 500;
      margin-bottom: 7%;
    }
    .logintitle {
      padding-top: 5px 5px 5px 5px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5%;
    }
    .loginSubTitle {
      padding-top: 5px;
      font-size: 18px;
      font-weight: 500;
      opacity: 0.6;
      margin-bottom: 5%;
    }
    .Input-Field {
      width: 100%;
      height: 30%;
      .textField1 {
        height: 60%;
        width: 100%;
        .InputField {
          height: 60%;
          width: 100%;
        }
        .MuiFormHelperText-contained {
          margin-left: 3px;
        }
        #outlined-size-small-helper-text {
          height: 30%;
          width: 95%;
        }
        .error {
          padding-left: 1%;
          height: 20%;
          width: 100%;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .errorMessage {
            height: 100%;
            width: 100%;
            font-size: 12px;
          }
        }
      }
      .textField2 {
        height: 50%;
        width: 100%;
        .InputField {
          height: 79%;
          width: 100%;
        }
        .MuiFormHelperText-contained {
          margin-left: 3px;
        }
        .error {
          padding-left: 1%;
          height: 21%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .errorMessage {
            height: 100%;
            width: 100%;
            font-size: 12px;
          }
        }
      }
    }
    .buttonContainer {
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      width: 100%;
      .Lbutton1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        .CreateAccount {
          font-size: 15px;
          font-weight: 600;
        }
      }
      .Lbutton2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
    .p {
      border: 1px solid #c3c4c7;
      box-sizing: border-box;
      margin-bottom: 5px;
    }
  }
}
.error {
  color: red;
}
.errorMessage {
  font-size: 12px;
}
.FT {
  font-family: Helvetica;
}
