@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $solid, $color, $border-box) {
  border: $length $solid $color;
  box-sizing: $border-box;
}

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.admin-Dashboard-Container {
  @include height_width(100%, 100%);
  .sub-Container {
    @include height_width(100%, 100%);
    .header {
      @include height_width(11%, 100%);
      @include border(0.2px, solid, #c3c4c7, border-box);
    }
    .main-Container {
      @include height_width(89%, 100%);
      @include border(0.2px, solid, red, border-box);
      @include flex(flex, none, none);

      .sidenave1 {
        @include height_width(100%, 20%);
        // @include border(0.2px, solid, blue, border-box);
        z-index: 1;
        transition: width 0.3s;
        -webkit-box-shadow: 5px 0px 6px 0px rgba(50, 50, 50, 0.55);
        -moz-box-shadow: 5px 0px 6px 0px rgba(50, 50, 50, 0.55);
        box-shadow: 5px 0px 6px 0px rgba(50, 50, 50, 0.55);
      }

      .sidenave2 {
        @include height_width(100%, 5%);
        // @include border(0.2px, solid, blue, border-box);
        z-index: 1;
        transition: width 0.5s;
        -webkit-box-shadow: 5px 0px 6px 0px rgba(50, 50, 50, 0.55);
        -moz-box-shadow: 5px 0px 6px 0px rgba(50, 50, 50, 0.55);
        box-shadow: 5px 0px 6px 0px rgba(50, 50, 50, 0.55);
      }

      .main-Body1 {
        z-index: 1;
        @include height_width(100%, 80%);
        // @include border(0.2px, solid, blue, border-box);
        // background-color: #c3c4c7;
      }

      .main-Body2 {
        z-index: 1;
        @include height_width(100%, 95%);
        // background-color: aqua;
        // @include border(0.2px, solid, red, border-box);
      }
    }
  }
}

.font-family {
  font-family: Arial, Helvetica, sans-serif;
}
